{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
 


    <nav class="navbar">

      <div class="avatar" style="float: left;"><div class="logo"><img class="avatar" src="{% static 'images/white_logo.png' %}"
        alt="avatar"  width="130px;" height="56px;"></div></div>

      
    </nav>
  </body>



    {% block body %}
    {% endblock %}
    
</body>
</html>